server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api/userregistration

spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/user}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:root}
  jackson:
    deserialization:
      fail-on-unknown-properties: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  api-docs:
    path: /api-documentation
  swagger-ui:
    path: /documentation